{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
Adyen Dropin
{% endblock %}


{% block content %}

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="/static/img/favicon.ico" width="30" height="30" alt="">
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Sessions</a>
      </li>
      <li class="nav-item"></li>
      <a class="nav-link" href="/old">Checkout</a>
      <a class="nav-link" href="/mods">Modifications</a>
    </li>
    </ul>
  </div>
</nav>

<div class="container">
  <script src="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.0.0/adyen.js"
     integrity="sha384-kcKKvS6qZbXycrUw31OJ2/2Hz8A8FTsV9anjvpyQc/IWR1SmkFUw7w7F/t5S3qtA"
     crossorigin="anonymous"></script>
  <link rel="stylesheet"
     href="https://checkoutshopper-live.adyen.com/checkoutshopper/sdk/5.0.0/adyen.css"
     integrity="sha384-0IvbHDeulbhdg1tMDeFeGlmjiYoVT6YsbfAMKFU2lFd6YKUVk0Hgivcmva3j6mkK"
     crossorigin="anonymous">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Adyen Checkout</h1>

      <p class="lead">This is Drop-in</p>

      <div id="dropin-container"></div>

    </div>
  </div>
</div>

<script id="client-key" type="application/json">{{ client_key|tojson }}</script>
<script src="{{ url_for('static', filename='js/old.js') }}"></script>

{% endblock %}